.key-border {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.key-inside {
  background-color: darkslategrey;
  color: white;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
