.initial-pill {
  border: 1px solid var(--dark-red);
  width: 5em;
  height: 30px;
  font-family: Okra, Helvetica, sans-serif;

  border-radius: 0.75em;
  user-select: none;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: var(--darkest-red);
}

.initial-pill:active {
  background-color: var(--bg-darkplus-red);
}

.up {
  align-self: flex-start;
}
