.numbered-pill {
  /* border: 1px solid var(--dark-red); */
  width: 5em;
  height: 30px;
  font-family: Okra, Helvetica, sans-serif;

  border-radius: 0.75em;
  user-select: none;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  color: white;

  background-color: var(--dark-red);
}

.box {
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  /* border-radius: 0em 0em 0em 0em; */
}

.box:active {
  background-color: var(--darkest-red);
}

.ops:hover {
  cursor: pointer;
  border-color: var(--darkest-red);
}

.minus {
  border-radius: 0.75em 0 0 0.75em;
}

.plus {
  border-radius: 0 0.75em 0.75em 0;
}
